.course-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 48px;
    gap: 24px;
    width: 629px;
    height: 544px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: auto;
    color: var(--dark-gray);
}

.course-details-header,
.course-details-description,
.course-details-target-audience,
.course-details-content {
    width: 100%;
}

.course-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.course-details-icon-and-name {
    display: inline-flex;
    align-items: center;
    color: var(--primary);
    font-size: 20px;
    font-weight: bolder;
}

.course-details-icon {
    width: min-content;
    height: 48px;
    margin-right: 16px;
}

.course-details-secondary {
    color: var(--secondary);
    font-weight: bolder;
}

.back-button {
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: bolder;
    color: var(--primary);
    text-decoration: underline;
    cursor: pointer;
}